.contact {
   text-align: left; 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
   width: 100vw;
   p{
      padding: 20px;
      width: 70vw;
      text-align: justify;
   }
   p, li {
      font-family: 'Courier New', Courier, monospace;

   }
   h2 {
      font-family: 'Righteous', cursive;

   }
}

@media (max-width: 768px) {
   .contact {
      p {
         width: 90vw;
      }
      ul {
         width: 90vw;
      }
   }
}
