.illustrations {

    .grid-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        gap: 1px;
        width: 100vw;

        .image-card{
            display: flex;
           
            // height: 290px;
            // border: 1px solid black;
            // border-radius: 5px;
            // padding: 5px;
            img{
                // width: 100%;
                width: 30vw;

                margin: 0 auto;
            }
        }
    }
   

}

@media (max-width: 1080px) {
    .illustrations {


    }
}
