.illustrations {
    .making-off {
        display: flex;
        align-items: center;
        text-align: left;
        background-color: black;
        color: white;

        .animation-gif {
            width: 340px;
            position: relative;
        }
        .animation-gif-over {
            width: 340px;
            position: absolute;
            opacity: 0.5;
        }
        .process-description {
            padding: 5px 20px;
            border: 1px solid white;
            border-radius: 20px;
        }
    }
    
    img {
        width: 100vw;
    }
}

@media (max-width: 680px) {
    .illustrations {
        h1{
            font-size: 25px;
          }
          .making-off {
            .process-description {
                border: 0;
            }
          }
    }
}

@media (max-width: 480px) {
    .illustrations {
        h1{
            font-size: 22px;
          }
          .making-off {
            .animation-gif {
                width: 310px;
            }
            .animation-gif-over {
                width: 310px;
            }
            .process-description {
                border: 0;
                padding: 2px 10px;
                ul {
                    padding: 5px;
                    font-size: 13px;
                }

            }
          }
    }
}
@media (max-width: 389px) {
    .illustrations {
          .making-off {
            .animation-gif {
                width: 280px;
            }
            .animation-gif-over {
                width: 280px;
            }

          }
    }
}

