header {
    background-color: black;
    .social-links {
        display: flex;

        a {
            color: white;
            text-decoration: none;
            width: 25%;
            border: 2px solid white;
            font-size: 23px;
        }
    }
    
    
}