footer {
    background-color: black;
    .social-links {
        display: flex;

        a {
            color: white;
            text-decoration: none;
            width: 25%;
            border: 2px solid white;
            font-size: 23px;
        }
    }
}

@media (max-width: 530px) {
    footer {
        
        .social-links {
            a {
                font-size: 20px;
            }
            .social-media {
                border: none;
                
                .iconeLink {
                    border-radius: 50%;
                }
                .social-link-name {
                    font-size: 12px;
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 440px) {
    footer {
        
        .social-links {
            a {
                font-size: 15px;
            }
            .social-media {
                border: none;
                
                .iconeLink {
                    border-radius: 50%;
                }
                .social-link-name {
                    font-size: 12px;
                    margin-top: 0;
                }
            }
        }
    }
}
