nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border-bottom: 8px solid white;
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70vw;
    }
    a {
        margin: 0 auto;
        color: white;
        text-decoration: none;
        width: 20%;
        border: 0px solid white;
        // border-radius: 20px;
        padding: 5px 10px;
        font-size: 19px;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

    }


    .active {
        font-weight: bolder;
        text-transform: uppercase;
        min-width: 175px;
        // background-color: rgb(166, 166, 166);
        font-size: 22px;
        transition: all ease-in-out 0.8s;
        // margin: -20px 0 -20px 0;
        border-bottom: 8px solid white;

  

    }
}

@media (max-width: 680px) {
    nav {
        a {
            .nav-links {
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 460px) {
    nav {
        a {
            .nav-links {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 440px) {
    nav {
        a {
            border: none;
            .nav-links {
                font-size: 13px;
            }
        }
        .icons {
            font-size: 8px;
        }
        .active {
            border: 2px solid white;
            
        }
    }
}

@media (max-width: 390px) {
    nav {
        a {
            padding: 5px  ;
            border: none;
            .nav-links {
                font-size: 13px;
                text-align: center;

            }
        }
        .icons {
            display: none;
        }
        .active {
            border: 2px solid white;
            
        }
    }
}