nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;

    a {
        margin: 0 auto;
        color: white;
        text-decoration: none;
        width: 33%;
        border: 2px solid white;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 23px;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icons {
        transition: all ease-in-out 0.8s;

        font-size: 10px;
    }

    .active {
        font-weight: bolder;
        text-transform: uppercase;
        min-width: 175px;
        background-color: black;
        font-size: 25px;
        transition: all ease-in-out 0.8s;
        // margin: -20px 0 -20px 0;
        border: 8px solid white;

        .icons {
            transition: all ease-in-out 0.8s;

            font-size: 30px;
        }

    }
}

@media (max-width: 680px) {
    nav {
        a {
            .nav-links {
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 460px) {
    nav {
        a {
            .nav-links {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 440px) {
    nav {
        a {
            border: none;
            .nav-links {
                font-size: 13px;
            }
        }
        .icons {
            font-size: 8px;
        }
        .active {
            border: 2px solid white;
            
        }
    }
}

@media (max-width: 390px) {
    nav {
        a {
            padding: 5px  ;
            border: none;
            .nav-links {
                font-size: 13px;
                text-align: center;

            }
        }
        .icons {
            display: none;
        }
        .active {
            border: 2px solid white;
            
        }
    }
}